*{margin: 0; padding: 0;}

.phan-header img {
    width: 100%;
}


body,html{
	width: 100%;
	height: 100%;
}

a.navbar-brand {
	margin: 0px;
	padding: 0px;
}

a.nav-link {
	font-family: segoe ui;
	font-size: 15px;
	text-transform: uppercase;
	line-height: 57px;
}

li.nav-item {margin: 0px;padding: 0px;margin: 0 17px;}

li.nav-item.active {}

a.nav-link {}

nav.navbar.navbar-light.bg-faded.navbar-fix-top {
	margin: 0px;
	padding: 0px;
	height: 70px;
	background: #4499be;
} 

.phan-header{
	width: 100%;
	height: 100%;
	position: relative;
	background: linear-gradient(90deg,#4490cc 0%,#42a1b5 50%,#43b2a1 100%);
}

/*.phan-header:before {
    content: "";
    position: absolute;
    left: 0px;
    width: 50%;
    height: 100%;
    background: #4499be;
}*/

@media (max-width: 576px){
	*{
		li.nav-item {
		}

		a.nav-link {
			margin: 0px;
			padding: 0px;
		}

		ul.nav.navbar-nav.float-xs-right {
			display: inline;
			float: none;
		}

		li.nav-item {
			display: inline;
			float: none;
		}

		a.navbar-brand {
			text-align: center;
			width: 100%;
		}
	}
}

